{% extends 'home-base.html' %} {% block title %}ToDo{% endblock %} {% block
style %}
<link rel="stylesheet" href="../static/css/shared.css" />
<link rel="stylesheet" href="../static/css/sign-up.css" />
{% endblock %} {% block anchor %}
<a href="{{url_for('index')}}">
  <img src="../static/images/checklist.png" alt="ToDo Logo" class="logo" />
</a>
{% endblock %} {% block content %}
<div class="contents">
  <div class="center">
    <form method="POST">
      <img src="../static/images/logo-img.png" alt="" class="logo" />
      <label for="basic-url" class="form-label" style="display: block"
        >Your Credit Card Information</label
      >
      <p class="notify">*This Page is Secured &#x1F609;&#128274;</p>
      <div class="input-group mb-3 credit">
        <input
          placeholder="Card Number"
          class="number"
          type="number"
          name="card"
          required="required"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
        <input
          placeholder="CSV"
          class="number"
          type="number"
          name="csv"
          required="required"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
        <input
          placeholder="Expire Date"
          class="number"
          type="text"
          name="expire"
          required="required"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
        <input
          placeholder="Coffee Bill &#128176;"
          class="number"
          type="number"
          name="amount"
          required="required"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>

      <button type="submit" class="btn btn-dark buy">Buy</button>
    </form>
  </div>
</div>
{% endblock %}
