body {
  background-color: #d6e4e5;
}

table {
  background-color: #eff5f5;
  color: #497174;
  border-radius: 10px;
}

tr {
  color: #497174;
}

th,
a {
  color: #497174;
}

a:hover {
  color: #62b6b7;
}

.download {
  background-color: #497174;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
}
